.header{
	position: relative;
	z-index: 1000;
	background: #fff;
}
.header-wrapper{
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.8);
	width: 100%;
	height: 100%;
	z-index: 100;
}
.header .header-nav{
	box-sizing: border-box;
	position: relative;
	width: 100%;
	min-height: 76px;
	background: #fff;
}
@media (min-width: 768px){
	.header .header-nav{
	    min-height: 80px;
	    padding: 1.125rem 2.1875rem 0 4.8125rem;
	    z-index: 9999;
	}
}
@media (min-width: 1100px){
	.header .header-nav{
		min-height: 70px;
	}
}
.header .header-nav .brand-logo{
	float: left;
	width: 192px;
	height: 37px;
	overflow: hidden;
}
@media (max-width: 768px){
	.header .header-nav .brand-logo{
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		padding-top: 21px;
		padding-left: 10px;
	}
}
@media (max-width: 992px){
	.header .header-nav .brand-logo{
		position: relative;
		top: -6px;
	}
}
.header .header-nav .brand-logo .logo{
	display: block;
	height: 37px;
	width: 192px;
}
@media (max-width: 1100px){
	.header .header-nav .brand-logo{
		width: 100px;
		height: 52px;
	}
}
.header .header-nav .brand-logo .logo img{
	width: 100%;
}
.header .header-nav .nav-content{
	display: inline-block;
	width: calc( 99% - 190px);
	vertical-align: middle;
	padding-bottom: 15px;
	margin-top: 3px;
}
@media (max-width: 768px){
	.header .header-nav .nav-content{
		display: none;
	}
}
@media (max-width: 992px){
	.header .header-nav .nav-content{
		padding-top: 6px;
	}
}
@media (max-width: 1100px){
	.header .header-nav .nav-content{
		width: calc( 99% - 100px);
	}
}
.header .header-nav .nav-content a:hover,.header .header-nav .nav-content a:focus,.header .header-nav .nav-content a:active{
	color: #1b394e;
}
.header .header-nav .nav-content .utility-links{
	float: right;
	display: inline-block;
	font-size: 1rem;
    max-height: 29px;
    margin-top: 1px;
    margin-right: -10px;
}
.header .header-nav .nav-content ul{
	list-style: none;
}
.header .header-nav .nav-content .utility-links ul li{
	display: inline-block;
	float: left;
	font-size: .875rem;
	height: 26.5px;
	line-height: 26.5px;
	margin-left: 3px;
}
.header .header-nav .nav-content .utility-links ul li a{
	text-decoration: none;
	font-weight: 300;
	padding: 0.625rem;
	height: 26.5px;
	line-height: 26.5px;
}
@media (max-width: 992px){
	.header .header-nav .nav-content .utility-links ul li a{
		padding: 0 !important;
	}	
}
.header .header-nav .nav-content .utility-links ul li a span{
	display: inline-block;
	vertical-align: top;
	height: 26.5px;
	line-height: 26.5px;
}
@media (max-width: 992px){
	.header .header-nav .nav-content .utility-links ul li a span{
		display: none;
	}
}
.header .header-nav .nav-content .utility-links ul li a i{
	font-size: 1.2rem;
	margin-right: 7px;
}
@media (max-width: 992px){
	.header .header-nav .nav-content .utility-links ul li a i{
		font-size: 1.5rem;
		margin-right: 10px;
		margin-left: 12px;
	}
}
.header .header-nav .nav-content .main-nav{
	display: inline-block;
	float: right;
	margin-right: 3px;
}
.header .header-nav .nav-content .main-nav ul li{
	position: relative;
	display: inline-block;
	float: left;
	font-size: .875rem;
	vertical-align: middle;
	height: 27.5px;
	line-height: 27.5px;
	margin-left: 4px;
}
.header .header-nav .nav-content .main-nav ul li a{
	text-decoration: none;
	font-weight: 700;
	font-size: 1rem;
    padding: 0.125rem;
}
.header .header-nav .mobile-nav{
	display: none;
	position: absolute;
	left: 25px;
	top: 15px;
	font-size: 30px;
	color: rgb(44, 148, 202);
}
.header .header-nav .mobile-nav a{
	text-decoration: none;
}
@media (max-width: 768px){
	.header .header-nav .mobile-nav{
		display: block;
	}
}


.header .header-content{
	position: absolute;
	left: 0;
	right: 0;
	z-index: 1000;
	background: #fff;
}
.header .header-content .view-all-model{
	display: none;
	width: 100%;
}
.header .header-content .view-all-model ul{
	list-style: none;
}
.header .header-content .view-all-model .model-type{
	position: relative;
	width: 100%;
	height: 70px;
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
	background-image: linear-gradient(to bottom,#ebebeb 0,#fbfbfb 5%,#fbfbfb 100%);
}
.header .header-content .view-all-model .model-type ul{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	overflow: hidden;
}
.header .header-content .view-all-model .model-type li{
	box-sizing: border-box;
	height: 70px;
	line-height: 70px;
	float: left;
	font-weight: 200;
	padding: 0 1.25rem;
}
.header .header-content .view-all-model .model-type li.active{
	border-bottom: 4px solid rgb(27,57,78);
}
.header .header-content .view-all-model .vehicle{
	padding: 26px 47px 0 47px;
	margin: 0 auto;
}
.header .header-content .view-all-model .vehicle ul{
	overflow: hidden;
	border-bottom: 1px solid #dbdbdb;
	display: none;
	width: 100%;
}
.header .header-content .view-all-model .vehicle ul.active{
	display: block;
}
.header .header-content .view-all-model .vehicle li{
	display: block;
	float: left;
	margin: 0 -4px 20px 0;
	padding: 3px 30px 0 30px;
	width: 12%;
}
.header .header-content .view-all-model .vehicle li a{
	text-align: center;
	width: 100%;
}
.header .header-content .view-all-model .vehicle li img{
	display: block;
	width: 100%;
}
.header .header-content .view-all-model .vehicle li span{
	display:block;
	margin-top: 10px;
	margin-bottom: 20px;
	font-weight: bold;
}
.header .header-content .view-all-model .bottom-button{
	width: 100%;
}
.header .header-content .view-all-model .bottom-button p{
	display: block;
	height: 80px;
}
.header .header-content .view-all-model .bottom-button a.cta-button{
	box-sizing: border-box;
	display: block;
	width: 168px;
	min-width: 15.625rem;
	height: 54px;
	font-size: 15px;
	font-weight: 200;
	padding: .9375rem 2.5rem;
	margin: 1.5rem auto;
	color: #fff;
	text-decoration: none;
	text-align: center;
	background: rgb(45, 150, 205);
	border: 1px solid rgb(45, 150, 205);
	box-shadow: 0 2px 3px 0 rgba(0,0,0,0.15);
}
.header .header-content .view-all-model .bottom-button a.cta-button:hover{
	background: #fff;
	border-color: rgb(27,57,78);
	color: rgb(27,57,78);
}