.overlay-page{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2000;
	width: 100%;
	background: rgba(0,0,0,0.8);
	height: 100%;
	display: none;
}
.overlay-page .overlay-wrapper{
	overflow-y: scroll;
	padding: 50px 0;
	height: calc(100% - 100px);
}
.overlay-page .overlay-wrapper .overlay-content{
	width: 90%;
	background: #fff;
	margin: 0 auto;
}