.overlay-page{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2000;
	width: 100%;
	background: rgba(0,0,0,0.8);
	height: 100%;
	 display: none; 
}
.overlay-page .overlay-wrapper{
	overflow-y: scroll;
	padding: 50px 0;
	height: calc(100% - 100px);
}
.overlay-page .overlay-wrapper .overlay-content{
	width: 85%;
	background: #fff;
	margin: 0 auto;
	color: RGB(97,97,97);
}
.overlay-page .overlay-wrapper .overlay-content .caption{
	font-weight: 200;
	font-size: 36px;
}
.overlay-page .overlay-wrapper .overlay-content .form-header{
	position: relative;
	height: 125px;
	border-bottom: 1px solid RGB(173,173,173);
	padding: 30px 60px 0 60px;
	box-sizing: border-box;	
}
.overlay-page .overlay-wrapper .overlay-content .form-header i{
	color: rgb(45, 150, 205);
	position: absolute;
	right: 30px;
	top: 45px;
	font-size: 30px;
}
.overlay-page .overlay-wrapper .overlay-content .form-header .sub-caption{
	font-weight: 300;
	font-size: 14px;
	margin-top: 5px;
}
.overlay-page .overlay-wrapper .overlay-content .form-body{
	padding: 0 60px 30px 60px;
}
.overlay-page .overlay-wrapper .overlay-content .form-body a.cta-button{
	box-sizing: border-box;
	display: block;
	width: 168px;
	min-width: 15.625rem;
	height: 54px;
	font-size: 15px;
	font-weight: 200;
	padding: .9375rem 2.5rem;
	margin: 1.5rem 0;
	color: #fff;
	text-decoration: none;
	text-align: center;
	background: rgb(45, 150, 205);
	border: 1px solid rgb(45, 150, 205);
	box-shadow: 0 2px 3px 0 rgba(0,0,0,0.15);
}
.overlay-page .overlay-wrapper .overlay-content .form-body a.cta-button:hover{
	background: #fff;
	border-color: rgb(27,57,78);
	color: rgb(27,57,78);
}
.overlay-page .overlay-wrapper .overlay-content .form-body .form-content{
	border-bottom: 1px solid RGB(173,173,173);
	padding-top: 30px;
}
.overlay-page .overlay-wrapper .overlay-content .form-body .form-content .caption{
	margin-bottom: 50px;
}
.overlay-page .overlay-wrapper .overlay-content .form-body .form-content .row{
	overflow: hidden;
	display: block;
	width: 100%;
}
.overlay-page .overlay-wrapper .overlay-content .form-body .form-content .row>div{
	float: left;
	width: 230px;
	padding-right: 2rem;
	margin-bottom: 42px;
}
.overlay-page .overlay-wrapper .overlay-content .form-body .form-content .row p{
	box-sizing: border-box;
	font-size: 12px;
	font-weight: bold;
	padding-bottom: 9px;
	color: #868686;
}
.overlay-page .overlay-wrapper .overlay-content .form-body .form-content .row input{
	display: block;
	width: 230px;
	height: 40px;
}