.richtext{
	width: 100%;
	min-width: 20rem;
	height: auto;
}
@media (min-width: 768px){
	.richtext-pos-desktop-middle{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
	}
	.richtext-pos-desktop-middle .desktop,.richtext-pos-desktop-middle .mobile{
		position: static !important;
	}
}
@media (max-width: 768px){
	.richtext-pos-mobile-middle{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
	}
	.richtext-pos-mobile-top{
		position: absolute;
		top: 0;
	}
	.richtext-pos-mobile-middle .desktop,.richtext-pos-mobile-middle .mobile{
		position: static !important;
	}
}
.richtext h1{
	font-size: 3rem;
}
.richtext h2{
	font-size: 2.1875rem;
}
.richtext h3{
	font-size: 44px;
}
.richtext h1,.richtext h2,.richtext h3{
	margin-bottom: 8px;
	font-weight: 200;
}
.richtext .desktop {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%
}
.richtext .mobile {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
}
@media (max-width:768px) {
	.richtext .desktop {
		display: none;
	}
	.richtext .mobile {
		display: block;
	}
}